# Core documentation and license
include README.md
include LICENSE

# Include entire dockmate/bin folder (tools like vina, obabel, etc.)
recursive-include dockmate/bin *

# Include utility scripts or data inside dockmate/utils
recursive-include dockmate/utils *

# Include examples outside the main package
recursive-include examples *

# (Optional) Include any configuration or data files if added later
# include dockmate/config/*.json
# include dockmate/data/*.dat
